<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/security 
       http://www.springframework.org/schema/security/spring-security.xsd">
	 <security:http auto-config="true">
	 <security:csrf disabled="true"/>
		<security:intercept-url pattern="/admin/**"
			access="hasRole('ROLE_ADMIN')" />
		<security:intercept-url pattern="/**" access="permitAll" />
<!-- /login, /loginerror, /logout - write handler methods for these url's -->
     <security:form-login 
          login-page="/Login"
			username-parameter="j_username" password-parameter="j_password"
			login-processing-url="/j_spring_security_check" default-target-url="/"
			authentication-failure-url="/loginerror" />

		<security:logout logout-success-url="/logout"
			logout-url="/j_spring_security_logout" />

	</security:http>

	<security:authentication-manager>
		<security:authentication-provider>

			<security:jdbc-user-service
				data-source-ref="dataSource"
				users-by-username-query="select email,password,enabled from user where email=?"

				authorities-by-username-query="select user_email,role from authorities where user_email=?" />

		</security:authentication-provider>
	</security:authentication-manager>
</beans>